---
layout: page
title: Team
---

{% assign principals = site.team | where_exp: "member", "member.group contains
'principals'" %}

<h2 class="mb-4">Principals, Senior Researchers</h2>

<div class="row">
  {% for member in principals %}
    {% include team-member.html photo=member.photo name=member.name position=member.position %}
  {% endfor %}
  {% include team-member.html photo="question_mark.svg" name="You?" position="<a href='/open-positions/'>We are hiring!</a>" %}
</div>

{% assign phdstudents = site.team | where_exp: "member", "member.group=='phdstudents'" %}

<h2 class="mb-4">Doctoral Candidates</h2>

<div class="row">
  {% for member in phdstudents %}
    {% include team-member.html photo=member.photo name=member.name position=member.position %}
  {% endfor %}
  {% include team-member.html photo="question_mark.svg" name="You?" position="<a href='/open-positions/'>We are hiring!</a>" %}
</div>

{% assign students = site.team | where_exp: "member", "member.group=='students'" %}

<h2 class="mb-4">Students</h2>

<div class="row">
  {% for member in students %}
    {% include team-member.html photo=member.photo name=member.name position=member.position %}
  {% endfor %}
  {% include team-member.html photo="question_mark.svg" name="You?" position="<a href='/open-positions/'>We are hiring!</a>" %}
</div>