---
layout: job
title: Research Associate in Open Source Tools for formal verification of digital circuits 
tag: staff
contact: stefan.wallentowitz@hm.edu
apply: https://stellen.hm.edu/jobposting/d5d95580b6992b3cc0425a7f7e06b81943b2adef0
---

We offer positions in our team for current and upcoming projects in the area of open source chip design tools.

Your tasks include:

- Exploration of data models for incremental formal verification
- Design and Implementation of a database for formal verification
- Integration and extension of verification algorithms with the database
- Collaboration on the Yosys open-source suite

You are the excellent candidate, if you fullfill the following requirements

- Completed Master's degree in Computer Science, Electrical and Information Engineering, or comparable fields of study
- Basic understanding of digital circuit design, ideally with experience in verification
- Knowledge on formal methods in computer science
- Existing open source experience desirable

