<div class="col-sm-3 col-6 mb-4">
    <div class="row">
      <div class="col-md-12">
        <img
          src="/assets/img/{{ include.photo }}"
          alt="Photo of {{ include.name }}"
          class="img-fluid rounded-circle"
        />
      </div>
      <div class="col-md-12 text-center">
        <div class="pt-2">
          <h5 class="mt-4 font-weight-medium mb-1">{{ include.name }}</h5>
          <h6 class="subtitle">{{ include.position }}</h6>
        </div>
      </div>
    </div>
  </div>